#buttonEnter{
    background-color: #0DB4A1;
    border-color: #0DB4A1;
}

#number{
    color: #0DB4A1 
}

#fondo {
  background-image: url('/src/assets/fd7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  padding: 100%;
}