.form_container {
  width: 30%;
  
}
@media screen and (max-width: 1000px) {
  .form_container {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .form_container {
    width: 65%;
  }
}

#buttonLogin:hover {
  background-color: #08a18e;
  color: white;
  border: none;
  cursor: pointer;
}

#link-style {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}
#login-page{
  background-color: #428bc4;
}

#button-ingresar{
  background-color: #08a18e;
}