
.form_container {
    width: 30%;
}
@media screen and (max-width: 1000px ){
    .form_container{
        width: 45% ;
    }
}
@media screen and (max-width: 700px ){
    .form_container{
        width: 65% ;
    }
}
#login-page, #buttonLogin {
  background-color: #428bc4;
}

#buttonLogin:hover {
  background-color: #08a18e;
  color: white;
  border: none;
  cursor: pointer;
}